.nav__link {
  color: #fff;
  text-decoration: none;
  transition: opacity .2s;
}
.nav__link:hover {
  opacity: .8;
}
.nav__link:focus {
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
  color: rgba(255, 255, 255, .8);
}
