.place__link-mobile {
   display: inline-block;
   margin: 0 0 32px;
   font-weight: 400;
   font-size: 18px;
   line-height: 122%;
   color: #fff;
}
@media all and (min-width: 621px) {
   .place__link-mobile {
      display: none;
   }
}
@media all and (max-width: 452px) {
   .place__link-mobile {
      margin: 0 0 32px 16px;
   }
}