.places {
   padding: 92px 148px 0;
}
@media all and (max-width: 1057px) {
   .places {
      padding: 92px 48px 0;
   }
}
@media all and (max-width: 870px) {
   .places {
      padding: 88px 24px 0;
   }
}
@media all and (max-width: 452px) {
   .places {
      padding: 64px 0 0;
   }
}