.place__column-left {
   margin: 0 40px 0 0;
   min-width: 200px;
   flex: 1 1 46.7%;
}
@media all and (max-width: 1057px) {
   .place__column-left {
      margin: 0 32px 0 0;
   }
}
@media all and (max-width: 832px) {
   .place__column-left {
      margin: 0 28px 0 0;
   }
}
@media all and (max-width: 620px) {
   .place__column-left {
      margin: 0 auto;
   }
}