.header {
  padding: 28px 48px 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
@media all and (max-width: 1100px) {
  .header {
    padding: 28px 24px 48px;
  }
}
@media all and (max-width: 810px) {
  .header {
    padding: 28px 24px 48px;
  }
}
@media all and (max-width: 452px) {
  .header {
    padding: 16px 16px 48px;
  }
}


