.grid-photo {
   display: grid;
   max-width: 1184px;
   grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
   grid-template-rows: repeat(auto-fit, 1fr);
   gap: 16px;
   grid-auto-rows: 1fr;
}
@media all and (max-width: 452px) {
   .grid-photo {
      gap: 12px;
   }
}