.header__link {
  color: #fff;
  text-decoration: none;
  transition: opacity .2s;
}
.header__link:hover {
  opacity: .8;
}
.header__link:focus {
  color: rgb(255,255,255, .8);
  outline: none;
  border: 1px solid #fff;
  border-radius: 4px;
}
