.subtitle {
   max-width: 640px;
   font-size: 30px;
   line-height: 120%;
   text-align: center;
   margin: 0 auto 61px;
   font-weight: 400;
}
@media all and (max-width: 1024px) {
   .subtitle {
      margin: 0 auto 56px;
   }
}
@media all and (max-width: 708px) {
   .subtitle {
      font-size: 24px;
   }
}
@media all and (max-width: 452px) {
   .subtitle {
      font-size: 16px;
      margin: 0 auto 40px;
   }
}