.lead__caption {
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
@media all and (max-width: 768px) {
  .lead__caption {
    margin: 0 0 0 24px;
  }
}
@media all and (max-width: 452px) {
  .lead__caption {
    margin: 0 0 0 16px;
  }
}
