.place {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(440px, 460px) minmax(45%, 484px);
  gap: 48px 40px;
  padding: 0;
}
@media all and (max-width: 1100px) {
  .place {
    grid-template-columns: minmax(400px, 460px) minmax(45%, 484px);
    gap: 48px 32px;
  }
}
@media all and (max-width: 832px) {
  .place {
    grid-template-columns: minmax(220px, 460px) minmax(32.4%, 484px);
    gap: 48px 28px;
  }
}
@media all and (max-width: 740px) {
  .place {
    grid-template-columns: repeat(auto-fit, 100%);
    gap: 32px;
  }
}
.place:not(:last-child) {
  margin: 0 0 80px;
}
@media all and (max-width: 832px) {
  .place:not(:last-child) {
    margin: 0 0 73px;
  }
}
@media all and (max-width: 740px) {
  .place:not(:last-child) {
    margin: 0 0 50px;
  }
}
